@model PowerTracker.Models.Diet

@{
    ViewData["Title"] = "Изтриване на диета";
}

<h2>@ViewData["Title"]</h2>

<h3>Сигурни ли сте, че искате да изтриете този запис?</h3>
<div>
    <h4>Диета</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Категория</dt>
        <dd>@Model.Category.Name</dd>

        <dt>Храна</dt>
        <dd>@Model.Food.Name</dd>

        <dt>Количество (г)</dt>
        <dd>@Model.QuantityInGrams</dd>

        <dt>Калории</dt>
        <dd>@Model.Calories</dd>

        <dt>Дата</dt>
        <dd>@Model.Date.ToString("yyyy-MM-dd")</dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </form>
</div>
