@model PowerTracker.Models.Diet

@{
    ViewData["Title"] = "Детайли за диета";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Диета</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Категория</dt>
        <dd>@Model.Category.Name</dd>

        <dt>Храна</dt>
        <dd>@Model.Food.Name</dd>

        <dt>Количество (г)</dt>
        <dd>@Model.QuantityInGrams</dd>

        <dt>Калории</dt>
        <dd>@Model.Calories</dd>

        <dt>Дата</dt>
        <dd>@Model.Date.ToString("yyyy-MM-dd")</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
<a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
