@model PowerTracker.Models.Diet

@{
    ViewData["Title"] = "Diet Details";
}

<h2>Diet Details</h2>

<div>
    <h4>Diet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Food</dt>
        <dd>@Model.Food.Name</dd>

        
        <dt>Quantity (grams)</dt>
        <dd>@Model.QuantityInGrams</dd>

        <dt>Calories</dt>
        <dd>@Model.Calories</dd>

        <dt>Date</dt>
        <dd>@Model.Date.ToString("yyyy-MM-dd")</dd>
    </dl>
</div>

<a href="@Url.Action("Edit", "Diets", new { id = Model.Id })" class="btn btn-warning">Edit</a>
<a href="@Url.Action("Index", "Diets")" class="btn btn-secondary">Back to List</a>
