@model PowerTracker.Models.Diet

<h2>Детайли за храната</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Име</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Калории на 100г</dt>
        <dd class="col-sm-10">@Model.CaloriesPer100g</dd>

        <dt class="col-sm-2">Количество (г)</dt>
        <dd class="col-sm-10">@Model.QuantityInGrams</dd>

        <dt class="col-sm-2">Общо калории</dt>
        <dd class="col-sm-10">@Model.Calories</dd>

        <dt class="col-sm-2">Дата</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Обратно</a>
