@model IEnumerable<PowerTracker.Models.Diet>

@{
    ViewData["Title"] = "Diets Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Diet</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Food</th>
            <th>Category</th>
            <th>Quantity (g)</th>
            <th>Calories</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Food.Name</td>
         
                <td>@item.QuantityInGrams</td>
                <td>@item.Calories</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
